{% extends "base.twig" %}

{% block navbar %}

    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/notifications"><span class="glyphicon glyphicon-bell" ></span> </a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <strong>Opciones</strong>
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/upload-image">Añadir imagen</a></li>
                    <li><a href="/user-images">Imágenes subidas</a></li>
                    <li><a href="/user-comments">Comentarios del usuario</a></li>
                    <li><a href="/logout">Cerrar sesion</a></li>
                </ul>
            </li>
        </ul>
    </div>
{% endblock navbar %}


{% block content %}

    <div class="container">
        <h1 class="text-muted">Edición del usuario</h1>
        <hr>
        {% if errors.usernameRegisteredError %}
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                <h4>Algo va mal...</h4>
                <p>El nombre de usuario ya esta siendo utilizado.</p>

            </div>
        {% endif %}

        {% if errors.imageError %}
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                <h4>Algo va mal...</h4>
                <p>{{ errors.stringImageError }}</p>

            </div>
        {% endif %}
        <div class="row">

            <div class="col-md-9 personal-info">

                <form class="form-horizontal" enctype="multipart/form-data" id="editUserForm" action="/edit_profile/form" method="POST">

                        <div class="form-group">
                            <label class="col-lg-4 control-label text-muted">Username</label>
                            <div class="col-lg-8">
                            {% if errors.usernameError %}
                                    {% set class = "form-control-red" %}
                                    {% set placeholder = "Username inválido" %}
                                {% else %}
                                    {% set class="form-control" %}
                                    {% set placeholder = "Username" %}
                                {% endif %}
                                <input class="{{ class }}" type="text" placeholder="{{ placeholder }}" name="username"
                                       id="username" value="{{ name }}">
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-lg-4 control-label text-muted">Fecha nacimiento:</label>
                            <div class="col-lg-8">
                            {% if errors.dateError %}
                                    {% set class = "form-control-red" %}
                                {% else %}
                                    {% set class="form-control" %}
                                    {% set placeholder = "dd/mm/yyyy" %}
                                {% endif %}
                                <input class="{{ class }}" type="date" placeholder="{{ placeholder }}" name="date"
                                       id="date" value="{{ birthday }}">
                                {% if errors.dateError %}
                                    <p class="text-error">Fecha inválida</p>
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label text-muted">Contraseña:</label>
                            <div class="col-md-8">
                             {% if errors.passwordError %}
                                    {% set class = "form-control-red" %}
                                    {% set placeholder = "Contraseña inválida" %}
                                {% else %}
                                    {% set class="form-control" %}
                                    {% set placeholder = "******" %}
                                {% endif %}
                                <input class="{{ class }}" type="password" placeholder="{{ placeholder }}"
                                       name="password"
                                       id="password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label text-muted">Confirmar contraseña:</label>
                            <div class="col-md-8">
                                {% if errors.confirmPasswordError %}
                                    {% set class = "form-control-red" %}
                                    {% set placeholder = "las contraseñas no coinciden" %}
                                {% else %}
                                    {% set class="form-control" %}
                                    {% set placeholder = "******" %}
                                {% endif %}
                                <input class="{{ class }}" type="password" placeholder="{{ placeholder }}"
                                       name="confirm-password"
                                       id="confirm-password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label text-muted">Imagen perfil:</label>
                            <div class="col-md-8">
                                <input class="form-control" name="image-path" id="image-path" type="file" onchange="readURL(this);">
                                {% if  haveProfileImage == 0%}
                                    {% set img = '/profile_img/img_profile_default.jpg'  %}
                                    <img class="img-preview" id="img-preview" height="100" width="100" src="{{ asset(img, 'img') }}" alt="your image">

                                {% endif  %}

                                {% if haveProfileImage != 0  %}
                                    <img class="img-preview" id="img-preview" height="100" width="100" src="{{ asset(img, 'img') }}" alt="your image">

                                {% endif  %}

                            </div>
                        </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label text-muted"></label>
                        <div class="col-md-8">
                            <button id="btn-register" type="submit" class="btn btn-info" data-toggle="popover"
                                    data-trigger="focus" title="Error"
                                    data-content="Hay campos del formulario que contienen errores">Guardar Cambios</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <hr>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('image_tools.js', 'js') }}"></script>
    <script type="text/javascript" src="{{ asset('edit_profile.js', 'js') }}"></script>

{% endblock javascripts %}