{% extends "base.twig" %}


{% block navbar %}

    {#No logeado#}
    {% if logged == false %}
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </div>
    {% endif %}


    {#logeado#}
    {% if logged == true %}
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/notifications"><span class="glyphicon glyphicon-bell" ></span> </a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <strong>Opciones</strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/upload-image">Añadir imagen</a></li>
                        <li><a href="/user-images">Imágenes subidas</a></li>
                        <li><a href="/user-comments">Comentarios del usuario</a></li>
                        <li><a href="/logout">Cerrar sesion</a></li>
                    </ul>
                </li>
                <li><a href="/edit-profile">
                        {#<span class="glyphicon glyphicon-user"></span> #}
                        <img class="img-circle"src="{{ asset('/profile_img/'~img~'.jpg','img') }}" height="25" width="25" >
                        <strong> {{ name }}</strong>
                    </a>
                </li>
            </ul>
        </div>
    {% endif %}
    <hr>
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a id="btn-home" href="/last-posts" class="btn-info">Home</a></li>
        <li role="presentation"><a id="btn-most-visited" href="/most-visited" class="btn-info">Más vistas</a></li>
    </ul>

{% endblock navbar %}

{% block content %}


    <div class="container-fluid bg-1 text-center">
        <div id="img-container" class="row row-flex row-flex-wrap">


            {#No logeado#}
            {% if logged == false %}

                {% set i_date = 0 %}
                {% for image in images %}

                    <div class=" col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a  href="/image-view/{{ image.id }}" ><h2>{{ image.title }}</h2></a>
                            <img  src="{{ asset('/upload_img/'~image.id~'_400x300.jpg','img') }}" height="400" width="300" >
                            <div class="caption">
                                <div class="caption">
                                    <a  href="/user-profile/{{ image.fkUser }}/1" ><h4>{{ image.username }}</h4></a>
                                </div>

                                <p>
                                <span class="intro-text conj-span">
                                    <span>{{ image.visits }}</span>
                                    <span class="glyphicon glyphicon-eye-open glyphicon-black" ></span>
                                </span>

                                    <span class="intro-text conj-span">
                                    <span>{{ image.likes }}</span>
                                    <span class="glyphicon glyphicon-thumbs-up glyphicon-black" ></span>
                                </span>

                                    <span class="intro-text conj-span">
                                    <span>{{ image.numComments }}</span>
                                    <span class="glyphicon glyphicon-comment glyphicon-black" ></span>
                                </span>
                                </p>
                                <div class="">
                                    {% set i = 0 %}

                                    {% for comment in image.comments %}
                                        {#{% set i = i + 1 %}#}
                                        {#{%  if i < 4 %}#}
                                            <p class="limit">
                                                <strong class="name-image">{{  comment.userName }} :</strong>
                                                <small> {{  comment.content }}</small>
                                            </p>
                                        {#{% endif %}#}

                                    {% endfor %}
                                </div>
                            </div>
                            <div class="card-footer text-muted">
                                <p class="card-text"><small class="text-muted">{{ dates[i_date] }}</small></p>
                                {% set i_date = i_date + 1 %}
                            </div>
                        </div>
                    </div>
                {% endfor %}

            {% endif %}

            {#logeado#}
            {% if logged == true %}

                {% set i_date = 0 %}
                {% for image in images %}
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail  ">
                            <a href="/image-view/{{ image.id }}" ><h2>{{ image.title }}</h2></a>

                            <img  src="{{ asset('/upload_img/'~image.id~'_400x300.jpg','img') }}" height="400" width="300" >

                            <div class="caption">
                                <div class="caption">
                                    <a  href="/user-profile/{{ image.fkUser }}/1" ><h4>{{ image.username }}</h4></a>
                                </div>

                                <p>
                                <span class="intro-text conj-span">
                                    <span>{{ image.visits }}</span>
                                    <span class="glyphicon glyphicon-eye-open glyphicon-black" ></span>
                                </span>

                                    <span class="intro-text conj-span">
                                    <span>{{ image.likes }}</span>
                                    <span class="glyphicon glyphicon-thumbs-up glyphicon-black" ></span>
                                </span>

                                    <span class="intro-text conj-span">
                                    <span>{{ image.numComments }}</span>
                                    <span class="glyphicon glyphicon-comment glyphicon-black" ></span>
                                </span>
                                </p>
                                <div class="">
                                    {% set i = 0 %}

                                    {% for comment in image.comments %}
                                        {#{% set i =i+1 %}#}
                                        {#{%  if i < 4 %}#}
                                            <p class="limit">
                                                <strong class="name-image">{{  comment.userName }} :</strong>
                                                <small> {{  comment.content }}</small>
                                            </p>
                                        {#{% endif %}#}

                                    {% endfor %}


                                </div>
                                <form accept-charset="UTF-8" action="/new-comment/{{ image.id }}" >
                                    <textarea class="form-control textarea-comment" id="text" name="text" placeholder="Type in your comment" rows="2"></textarea>
                                    <button class="btn btn-info" type="submit">Publicar comentario</button>
                                </form>
                                <p>
                                    {% if image.liked == false %}
                                        <a href="/like/{{ image.id }}" class=" glyphicon glyphicon-heart-empty button-like" role="button"></a>
                                    {% endif %}
                                    {% if image.liked == true %}
                                        <a href="/like/{{ image.id }}" class=" glyphicon glyphicon-heart button-like " role="button"></a>
                                    {% endif %}


                                </p>

                            </div>
                            <div class="card-footer text-muted">
                                <p class="card-text"><small class="text-muted">{{ dates[i_date] }}</small></p>
                                {% set i_date = i_date + 1 %}
                            </div>
                        </div>
                    </div>
                {% endfor %}

            {% endif %}

        </div>

        {% if not is_most_visited_layout %}
            <a id="icon_load_more" class="btn btn-info glyphicon glyphicon-circle-arrow-down"></a>
        {% endif %}

    </div>

    {% block javascripts %}
       {{ parent() }}

        <!-- TODO: Preguntar si això és correcte però sinó no hi ha manera que funcioni... -->
        <script>
            $(document).ready(function () {
                $('.dropdown-toggle').dropdown();
            });
        </script>
        <script type="text/javascript" src="{{ asset('home.js', 'js') }}"></script>

    {% endblock javascripts %}

{% endblock content %}
