{% extends "base.twig" %}


{% block navbar %}

    {#No logeado#}
    {% if logged == false %}
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </div>
    {% endif %}


    {#logeado#}
    {% if logged == true %}
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/notifications"><span class="glyphicon glyphicon-bell" ></span> </a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <strong>Opciones</strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/upload-image">Añadir imagen</a></li>
                        <li><a href="/user-images">Imágenes subidas</a></li>
                        <li><a href="/user-comments">Comentarios del usuario</a></li>
                        <li><a href="/logout">Cerrar sesion</a></li>
                    </ul>
                </li>
                <li><a href="/edit-profile">
                        {#<span class="glyphicon glyphicon-user"></span> #}
                        <img class="img-circle"src="{{ asset('/profile_img/'~img~'.jpg','img') }}" height="25" width="25" >
                        <strong> {{ name }}</strong>
                    </a>
                </li>
            </ul>
        </div>
    {% endif %}
    <hr>
    <ul class="nav nav-pills">
        <li role="presentation" class="active">

            <form method="get" action="/last-posts">
                <button type="submit" class="btn btn-info">Home</button>
            </form>
        </li>
        <li role="presentation">
            <form method="get" action="/most-visited">
                <button type="submit" class="btn btn-info">Más vistas</button>
            </form>
        </li>
        {% if logged == true %}
            <li role="presentation">
                <form method="get" action="/followers-posts">
                    <button type="submit" class="btn btn-info">Seguidos</button>
                </form>
            </li>
        {% endif %}
    </ul>

{% endblock navbar %}

{% block content %}

    <div class="container-fluid bg-1 text-center">
        {% if errors.commentError %}
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                <h4>Algo va mal...</h4>
                <p>{{ errors.stringCommentError }}</p>
            </div>
        {% endif %}

        <div id="img-container" class="row row-flex row-flex-wrap">


            {#No logeado#}
            {% if logged == false %}

                {% set i_date = 0 %}
                {% for image in images %}

                    <div class=" col-sm-6 col-md-4">
                        <div class="thumbnail limit-image">
                            <a  href="/image-view/{{ image.id }}" ><h2 class="my">{{ image.title }}</h2></a>
                            <img  src="{{ asset('/upload_img/'~image.id~'_400x300.jpg','img') }}" height="400" width="300" >
                            <div class="caption">
                                <div class="caption">
                                    <a  href="/user-profile/{{ image.fkUser }}/1" ><h4>{{ image.username }}</h4></a>
                                </div>

                                <p>
                                <span class="intro-text conj-span">
                                    <span>{{ image.visits }}</span>
                                    <span class="glyphicon glyphicon-eye-open glyphicon-black" ></span>
                                </span>

                                    <span class="intro-text conj-span">
                                    <span>{{ image.likes }}</span>
                                    <span class="glyphicon glyphicon-thumbs-up glyphicon-black" ></span>
                                </span>

                                    <span class="intro-text conj-span">
                                    <span>{{ image.numComments }}</span>
                                    <span class="glyphicon glyphicon-comment glyphicon-black" ></span>
                                </span>
                                </p>
                                <div class="">
                                    {% set i = 0 %}

                                    <div class="limit" id="comments_list_{{ image.id }}">
                                    {% for comment in image.comments %}
                                        {#{% set i = i + 1 %}#}
                                        {#{%  if i < 4 %}#}
                                            <p class="comment vlimit">

                                                <img class="img-circle"src="{{ asset('/profile_img/'~comment.fkuser~'.jpg','img') }}" height="20" width="20" >
                                                <strong class="name-image">{{  comment.userName }} :</strong>
                                                <small> {{  comment.content }}</small>
                                            </p>
                                        {#{% endif %}#}

                                    {% endfor %}

                                    </div>

                                    {% if image.comments|length < image.numComments %}

                                        <div id="load_comments_{{ image.id }}">
                                            <!-- Used to know which image is clicked to load more comments -->
                                            <a id="icon_load_more_comments" class="btn glyphicon glyphicon-plus" data-var="{{ image.id }}"></a>
                                        </div>

                                    {% endif %}
                                </div>
                            </div>
                            <div class="card-footer text-muted">
                                <p class="card-text"><small class="text-muted">{{ dates[i_date] }}</small></p>
                                {% set i_date = i_date + 1 %}
                            </div>
                        </div>
                    </div>
                {% endfor %}

            {% endif %}

            {#logeado#}
            {% if logged == true %}

                {% set i_date = 0 %}
                {% for image in images %}
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail limit-image ">
                            <a href="/image-view/{{ image.id }}" role="button"><h2>{{ image.title }}</h2></a>

                            <img  src="{{ asset('/upload_img/'~image.id~'_400x300.jpg','img') }}" height="400" width="300" >

                            <div class="caption">
                                <div class="caption">
                                    <a  href="/user-profile/{{ image.fkUser }}/1"><h4>{{ image.username }}</h4></a>
                                </div>

                                <p>
                                <span class="intro-text conj-span">
                                    <span>{{ image.visits }}</span>
                                    <span class="glyphicon glyphicon-eye-open glyphicon-black" ></span>
                                </span>

                                    <span class="intro-text conj-span">
                                    <span>{{ image.likes }}</span>
                                    <span class="glyphicon glyphicon-thumbs-up glyphicon-black" ></span>
                                </span>

                                    <span class="intro-text conj-span">
                                    <span>{{ image.numComments }}</span>
                                    <span class="glyphicon glyphicon-comment glyphicon-black" ></span>
                                </span>
                                </p>
                                <div class="">
                                    {% set i = 0 %}

                                    <div class ="limit" id="comments_list_{{ image.id }}">
                                    {% for comment in image.comments %}
                                        {#{% set i =i+1 %}#}
                                        {#{%  if i < 4 %}#}
                                            <p class="comment vlimit">
                                                <img class="img-circle"src="{{ asset('/profile_img/'~comment.fkuser~'.jpg','img') }}" height="20" width="20" >
                                                <strong class="name-image">{{  comment.userName }} :</strong>
                                                <small> {{  comment.content }}</small>
                                            </p>
                                        {#{% endif %}#}

                                    {% endfor %}

                                    </div>

                                    {% if image.comments|length < image.numComments %}

                                        <div id="load_comments_{{ image.id }}">
                                            <!-- Used to know which image is clicked to load more comments -->
                                            <a id="icon_load_more_comments" class="btn glyphicon glyphicon-plus" data-var="{{ image.id }}"></a>
                                        </div>

                                    {% endif %}

                                </div>
                                <form accept-charset="UTF-8" action="/new-comment/{{ image.id }}" >
                                    <textarea class="form-control textarea-comment" id="text" name="text" placeholder="Type in your comment" rows="2"></textarea>
                                    <button class="btn btn-info" type="submit">Publicar comentario</button>
                                </form>
                                <p>
                                    {% if image.liked == false %}
                                        <a href="/like/{{ image.id }}" class=" glyphicon glyphicon-heart-empty button-like" role="button"></a>
                                    {% endif %}
                                    {% if image.liked == true %}
                                        <a href="/like/{{ image.id }}" class=" glyphicon glyphicon-heart button-like " role="button"></a>
                                    {% endif %}


                                </p>

                            </div>
                            <div class="card-footer text-muted">
                                <p class="card-text "><small class="text-muted">{{ dates[i_date] }}</small></p>
                                {% set i_date = i_date + 1 %}
                            </div>
                        </div>
                    </div>
                {% endfor %}

            {% endif %}

        </div>

        {% if not is_most_visited_layout %}
            <a id="icon_load_more" class="btn btn-info glyphicon glyphicon-circle-arrow-down"></a>
        {% endif %}

    </div>

    {% block javascripts %}
       {{ parent() }}

        <script type="text/javascript" src="{{ asset('home.js', 'js') }}"></script>
        <script type="text/javascript" src="{{ asset('comments.js', 'js') }}"></script>
        <script type="text/javascript" src="{{ asset('notify.min.js', 'js') }}"></script>


    {% endblock javascripts %}

{% endblock content %}
