<!DOCTYPE html>
<html>
<head>
    {%  block head %}
        <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap.min.css', 'css') }}">
        <link href="{{ asset('bootstrap-theme.min.css','css') }}" type="text/css" rel="stylesheet">
        <link rel="canonical" href="https://mdbootstrap.com/components/navbar/" />
        <link rel="shortcut icon" href="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/favicon.ico" />
        <link rel='stylesheet' id='compiled.css-css'  href='https://mdbootstrap.com/wp-content/themes/mdbootstrap4/css/compiled.min.css?ver=4.7.3' type='text/css' media='all' />
        <link rel='stylesheet' id='style.css-css'  href='https://mdbootstrap.com/wp-content/themes/mdbootstrap4/style.css?ver=4.7.3' type='text/css' media='all' />

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {%  endblock head %}
</head>

<body>

    {% block navbar %}
        <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">

            <div class="container">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="/home">
                    <strong>PWGram</strong>
                </a>
                <div class="collapse navbar-collapse" id="navbarNav4">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">Pricing</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle waves-effect waves-light" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Dropdown</a>
                            <div class="dropdown-menu dropdown-warning" aria-labelledby="dropdownMenu4" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                <a class="dropdown-item waves-effect waves-light" href="#">DROP AAAAAAA</a>
                                <a class="dropdown-item waves-effect waves-light" href="#">DROP BBBBBBB</a>
                                <a class="dropdown-item waves-effect waves-light" href="#">DROP CCCCCCC</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto nav-flex-icons">
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light"><span class="glyphicon glyphicon-tag"></span></a>
                        </li>
                        <li class="nav-item avatar dropdown">
                            <a class="nav-link dropdown-toggle waves-effect waves-light" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{{ asset('LSALLE.png','img') }}" class="img-fluid rounded-circle z-depth-0"></a>
                            <div class="dropdown-menu dropdown-warning dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                <a class="dropdown-item waves-effect waves-light" href="#">IMG AAAAAAA</a>
                                <a class="dropdown-item waves-effect waves-light" href="#">IMG BBBBBBB</a>
                                <a class="dropdown-item waves-effect waves-light" href="#">IMG CCCCCCC</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>


        </nav>
    {%  endblock navbar %}


    <div id="content documentation">
        {% block content %}


            <!--Card-->
            <div class="card">

                <!--Card image-->
                <img class="img-fluid" src="{{ asset('LogoSalle.png','img') }}" alt="Card image cap">
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-block">
                    <!--Title-->
                    <h4 class="card-title">Card title</h4>
                    <!--Text-->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Button</a>
                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->


        {% endblock %}
    </div>

    <div id="footer">
        {% block footer %}
            &copy; Copyright 2017
        {% endblock %}
    </div>

    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="{{ asset('/bootstrap.min.js', 'js') }}" type="text/javascript" charset="utf-8"></script>


    {% endblock %}

</body>
</html>