{% extends "base.twig" %}


{% block navbar %}

    {#No logeado#}
    {% if logged == false %}
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </div>
    {% endif %}

    {#logeado#}
    {% if logged != false %}
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/notifications"><span class="glyphicon glyphicon-bell" ></span> </a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <strong>Opciones</strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/upload-image">Añadir imagen</a></li>
                        <li><a href="/edit-image">Editar imagen</a></li>
                        <li><a href="/logout">Cerrar sesion</a></li>
                    </ul>
                </li>
                <li><a href="/edit-profile" class="dropdown-toggle" >
                        {#<span class="glyphicon glyphicon-user"></span> #}
                        <img  src="{{ asset('/profile_img/'~profileImage~'.jpg','img') }}" height="25" width="25" >
                        <strong> {{ name }}</strong>
                    </a>
                </li>
            </ul>
        </div>
    {% endif %}

{% endblock navbar %}

{% block content %}
    <div class="container-fluid bg-1 text-center">
        <div class="row">

            {#No logeado#}
            {% if logged == false %}

                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a  href="/image-view/{{ image.id }}" ><h2>{{ image.title }}</h2></a>
                        <img  src="{{ asset('/upload_img/'~image.id~'_400x300.jpg','img') }}" height="400" width="300" >
                        <div class="caption">
                            <div class="caption">
                                <a  href="/user-profile/{{ image.fkUser }}" ><h4>{{ image.username }}</h4></a>
                            </div>


                            <p>
                                <span class="intro-text conj-span">
                                    <span>{{ image.visits }}</span>
                                    <span class="glyphicon glyphicon-eye-open glyphicon-black" ></span>
                                </span>

                                <span class="intro-text conj-span">
                                    <span>{{ image.likes }}</span>
                                    <span class="glyphicon glyphicon-thumbs-up glyphicon-black" ></span>
                                </span>

                                <span class="intro-text conj-span">
                                    <span>{{ image.numComments }}</span>
                                    <span class="glyphicon glyphicon-comment glyphicon-black" ></span>
                                </span>
                            </p>

                            {% for comment in image.comments %}

                                <p> {{ comment.content }} </p>

                            {% endfor %}
                            <p>{{ image.createdAt}}</p>

                        </div>
                    </div>
                </div>
            {% endif %}


            {#logeado#}
            {% if logged != false %}

                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a  href="/image-view/{{ image.id }}" ><h2>{{ image.title }}</h2></a>
                        <img  src="{{ asset('/upload_img/'~image.id~'_400x300.jpg','img') }}" height="400" width="300" >
                        <div class="caption">
                            <div class="caption">
                                <a  href="/user-profile/{{ image.fkUser }}" ><h4>{{ image.username }}</h4></a>
                            </div>


                            <p>
                                <span class="intro-text conj-span">
                                    <span>{{ image.visits }}</span>
                                    <span class="glyphicon glyphicon-eye-open glyphicon-black" ></span>
                                </span>

                                <span class="intro-text conj-span">
                                    <span>{{ image.likes }}</span>
                                    <span class="glyphicon glyphicon-thumbs-up glyphicon-black" ></span>
                                </span>

                                <span class="intro-text conj-span">
                                    <span>{{ image.numComments }}</span>
                                    <span class="glyphicon glyphicon-comment glyphicon-black" ></span>
                                </span>
                            </p>

                            {% for comment in image.comments %}

                                <p> {{ comment.content }} </p>

                            {% endfor %}
                            <form accept-charset="UTF-8" action="/new-comment/{{ image.id }}" >
                                    <textarea class="form-control textarea-comment" id="text" name="text" placeholder="Type in your comment" rows="2"></textarea>
                                    <button class="btn btn-info" type="submit">Publicar comentario</button>
                            </form>
                            <p>
                                <a href="/like/{{ image.id }}" class="btn glyphicon glyphicon-heart-empty" role="button"></a>
                            </p>
                            <p>{{ image.createdAt}}</p>

                        </div>
                    </div>
                </div>
            {% endif %}




        </div>
    </div>

{% endblock content %}
