{% extends "base.twig" %}

{% block meta %}
    <meta name="title" content="Registre">
    <meta name="description" content="Formulari pel registre d'un usuari">
{% endblock meta %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block navbar %}
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/login">Login</a></li>
        </ul>
    </div>
{% endblock navbar %}

{% block content %}
    <div class="container">
        <h1 class="text-muted">Registro</h1>
        <hr>

        {% if errors.usernameRegisteredError %}
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">×</span></button>
                <h4>Algo va mal...</h4>
                <p>{{ errors.stringUsernameRegisteredError }}</p>

            </div>
        {% endif %}

        {% if errors.imageError %}
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">×</span></button>
                <h4>Algo va mal...</h4>
                <p>{{ errors.stringImageError }}</p>
            </div>
        {% endif %}

        <div class="row">

            <div class="col-md-9 personal-info">

                <form class="form-horizontal" enctype="multipart/form-data" id="registerUserForm"
                      action="/register/form" method="POST">

                    {% block username_field %}
                        <div class="form-group">
                            <label class="col-lg-4 control-label text-muted">Username: </label>
                            <div class="col-lg-8">
                                {% if errors.usernameError %}
                                    {% set class = "form-control-red" %}
                                    {% set placeholder = "Username inválido" %}
                                    {% set value = "" %}
                                {% else %}
                                    {% set class="form-control" %}
                                    {% set placeholder = "Username" %}
                                    {% set value =  user.username  %}
                                {% endif %}
                                <input class="{{ class }}" type="text" placeholder="{{ placeholder }}" name="username"
                                       id="username" value={{ value }}>
                            </div>
                        </div>
                    {% endblock username_field %}


                    <div class="form-group">
                        <label class="col-lg-4 control-label text-muted">Email: </label>
                        <div class="col-lg-8">
                            {% if errors.emailError %}
                                {% set class = "form-control-red" %}
                                {% set placeholder = "Email inválido" %}
                                {% set value = "" %}
                            {% else %}
                                {% set class="form-control" %}
                                {% set placeholder = "example@mail.com" %}
                                {% set value = user.email %}
                            {% endif %}
                            <input class="{{ class }}" type="email" placeholder="{{ placeholder }}" name="mail"
                                   id="mail" value={{ user.email }}>
                        </div>
                    </div>


                    {% block editable_fields %}

                        <div class="form-group">
                            <label class="col-lg-4 control-label text-muted">Fecha nacimiento:</label>
                            <div class="col-lg-8">
                                {% if errors.dateError %}
                                    {% set class = "form-control-red" %}
                                    {% set value = "" %}
                                {% else %}
                                    {% set class="form-control" %}
                                    {% set placeholder = "dd/mm/yyyy" %}
                                    {% set value = user.birthday %}
                                {% endif %}
                                <input class="{{ class }}" type="date" placeholder="{{ placeholder }}" name="date"
                                       id="date" value={{ value }}>
                                {% if errors.dateError %}
                                    <p class="text-error">Fecha inválida</p>
                                {% endif %}
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-4 control-label text-muted">Contraseña:</label>
                            <div class="col-md-8">
                                {% if errors.passwordError %}
                                    {% set class = "form-control-red" %}
                                    {% set placeholder = "Contraseña inválida" %}
                                {% else %}
                                    {% set class="form-control" %}
                                    {% set placeholder = "******" %}
                                {% endif %}
                                <input class="{{ class }}" type="password" placeholder="{{ placeholder }}"
                                       name="password"
                                       id="password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label text-muted">Confirmar contraseña:</label>
                            <div class="col-md-8">
                                {% if errors.confirmPasswordError %}
                                    {% set class = "form-control-red" %}
                                    {% set placeholder = "las contraseñas no coinciden" %}
                                {% else %}
                                    {% set class="form-control" %}
                                    {% set placeholder = "******" %}
                                {% endif %}
                                <input class="{{ class }}" type="password" placeholder="{{ placeholder }}"
                                       name="confirm-password"
                                       id="confirm-password">
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-4 control-label text-muted">Imagen perfil:</label>
                            <div class="col-md-8">
                                <input class="form-control" name="image-path" id="image-path" type="file"
                                       onchange="readURL(this);">
                                <img class="img-preview" id="img-preview" height="140" width="140"
                                     src="{{ asset('/profile_img/img_profile_default.jpg', 'img') }}" alt="your image">

                            </div>
                        </div>

                    {% endblock editable_fields %}


                    <div class="form-group">
                        <label class="col-md-4 control-label text-muted"></label>
                        <div class="col-md-8">
                            <button id="btn-register" type="submit" class="btn btn-info" data-toggle="popover"
                                    data-trigger="focus" title="Error"
                                    data-content="Hay campos del formulario que contienen errores">Registrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <hr>

{% endblock content %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('register.js', 'js') }}"></script>
    <script type="text/javascript" src="{{ asset('image_tools.js', 'js') }}"></script>
{% endblock javascripts %}