{% extends "base.twig" %}


{% block navbar %}

    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/notifications"><span class="glyphicon glyphicon-bell" ></span> </a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <strong>Opciones</strong>
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/upload-image">Añadir imagen</a></li>
                    <li><a href="/user-images">Imágenes subidas</a></li>
                    <li><a href="/user-comments">Comentarios del usuario</a></li>
                    <li><a href="/logout">Cerrar sesion</a></li>
                </ul>
            </li>
            <li><a href="/edit-profile" class="dropdown-toggle" >
                    {#<span class="glyphicon glyphicon-user"></span> #}
                    <img class="img-circle" src="{{ asset('/profile_img/'~profileImage~'.jpg','img') }}" height="25" width="25" >
                    <strong> {{ name }}</strong>
                </a>
            </li>
        </ul>
    </div>


{% endblock navbar %}

{% block content %}

    <div class="container">
        <h1 class="text-muted">Registro</h1>
        <hr>
        <div class="row">


            <div class="col-md-9 personal-info">

                <form class="form-horizontal" enctype="multipart/form-data" id="uploadImageForm" action="/uploadImage/form" method="POST">
                    <div class="form-group">
                        <label class="col-lg-4 control-label text-muted">Título: </label>
                        <div class="col-lg-8">
                            <input class="form-control " type="text" placeholder="Título" name="img-title" id="img-title"  maxlength="30">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 control-label text-muted">Privada: </label>
                        <div class="col-lg-8">
                            <input class="checkbox-info" type="checkbox" placeholder="Private" name="img-private" id="img-private" value="private">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label text-muted">Imagen:</label>
                        <div class="col-md-8">
                            <input class="form-control" name="img-selected" id="img-selected" type="file" onchange="readURL(this);" >
                            <img id="img-preview"  src="" alt="your image">
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="col-md-4 control-label text-muted"></label>
                        <div class="col-md-8">
                            <button type="submit" class="btn our-btn">Subir Imagen</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br>
    <hr>

{% endblock content %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('upload_image.js', 'js') }}"></script>
    <script type="text/javascript" src="{{ asset('image_tools.js', 'js') }}"></script>
{% endblock javascripts %}